__pycache__/
*.pyc
.DS_Store
.env
.venv/
venv/
ercot_rtm_*.parquet
miso_rtm_*.parquet
user_uploads/
data_cache/*
!data_cache/pregenerated/
sced_cache/
data_static/uswtdb.csv
ercot_assets_expanded.json


# Data Files
*.csv
*.xlsx
test data/
~$*
